# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized

## Data Science Languages
Here are some of the most widely used programming languages in data science:
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
Common libraries used in data science:
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool         | Description                        |
|--------------|------------------------------------|
| Jupyter      | Interactive coding environment     |
| RStudio      | IDE for R                          |
| TensorFlow   | Machine learning library           |
| Apache Spark | Big data processing tool           |
| Excel        | Spreadsheet tool for data analysis |

## Arithmetic Expression Examples
Below are examples of how to perform basic arithmetic operations in Python.

 #This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

# Convert minutes to hours
This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 2000
hours = minutes / 60
hours

33.333333333333336

## Objectives
- Understand common data science languages.
- Familiarize yourself with popular data science libraries.
- Learn to perform basic arithmetic operations using Python.
- Explore commonly used tools in the data science workflow.

## Author
Dakshata G